/* .projects-container {
  width: 90%;
  height: 100vh;
  padding-top: 10rem;
  max-width: 1200px;
  margin: 0 auto;
  gap: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.allItems {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.projects-heading {
  text-transform: uppercase;
  color: rgb(177, 170, 176);
}

.projects-searchBar {
  width: 90%;
}

.projects-items {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.images {
  border: 3px solid darkgray;
  border-radius: 5%;
  width: 100%;
  height: 400px;
  overflow: hidden;
  display: inline-block;
}

.image-container {
  padding-bottom: 2rem;
}

.info-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100px;
  background-color: rgb(30, 27, 27);
  border-radius: 5%;
}

.project-name {
  color: rgb(177, 170, 176);
  padding-bottom: 1rem;
  font-size: 1.5rem;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
}

.project-desc {
  color: rgb(156, 148, 155);
  font-family: "Roboto Mono", monospace;
}

.btn-detail {
  display: flex;
  justify-content: center;
}

.projects-detail {
  background-color: rgb(30, 27, 27);
  color: rgb(177, 170, 176);
  border: none;
  width: 100px;
  height: 50px;
  border-radius: 10%;
  text-transform: uppercase;
  font-weight: bold;
}

@media screen and (max-width: 800px) {
  .projects-items {
    display: flex;
    flex-direction: column;
  }

  .projects-heading {
    padding-bottom: 10rem;
  }
} */
.container-projects {
  width: 100%;
  height: 100vh;
}

.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 700px;
  height: 500px;
  border-radius: 10px;
  border: 3px solid darkgray;
}

.project-right {
  position: absolute;
  top: 50%;
  right: 100px;

  font-size: 3rem;
  color: darkgray;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.project-left {
  position: absolute;
  top: 50%;
  left: 100px;
  font-size: 3rem;
  color: darkgray;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.projects-info {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(30, 27, 27);
  border-radius: 3%;
  width: 100%;
  height: 120px;
  font-family: "Roboto Mono", monospace;
  border: 2px solid darkgray;
}

.projects-heading {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 2rem;
  padding-top: 5rem;
  text-transform: uppercase;
  color: rgb(177, 170, 176);
  font-weight: bold;
}

.projects-name {
  color: rgb(177, 170, 176);
  padding-bottom: 1rem;
  font-size: 1.5rem;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  margin-top: 1rem;
}

.projects-desc {
  color: rgb(156, 148, 155);
  font-family: "Roboto Mono", monospace;
  margin-bottom: 1rem;
}

.btn-projects {
  border: none;
  border-radius: 5%;
  width: 100%;
  height: 20px;
  background-color: rgb(177, 170, 176);
  text-transform: uppercase;
  font-family: "Roboto Mono", monospace;
}

.btn-projects:hover {
  cursor: pointer;
  color: aliceblue;
}

@media screen and (max-width: 768px) {
  .image {
    width: 250px;
    height: 200px;
    border-radius: 10px;
  }

  .image-container {
    display: flex;
    justify-content: center;
  }

  .project-left {
    font-size: 2.5rem;
  }

  .project-right {
    font-size: 2.5rem;
  }
}
