.container-projects {
  width: 100%;
  height: 100vh;
}

.slider {
  position: relative;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 700px;
  height: 500px;
  border-radius: 10px;
  border: 3px solid darkgray;
}

.project-right {
  position: absolute;
  top: 50%;
  right: 100px;

  font-size: 3rem;
  color: darkgray;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.project-left {
  position: absolute;
  top: 50%;
  left: 100px;
  font-size: 3rem;
  color: darkgray;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.projects-info {
  margin-top: 0.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(30, 27, 27);
  border-radius: 3%;
  width: 100%;
  height: 120px;
  font-family: "Roboto Mono", monospace;
  border: 2px solid darkgray;
}

.heading-container {
  text-align: center;
  padding-top: 7rem;
}
.projects-heading {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 0;
  padding-top: 1rem;
  text-transform: uppercase;
  color: rgb(177, 170, 176);
  font-weight: bold;
}

.projects-name {
  color: rgb(177, 170, 176);
  padding-bottom: 1rem;
  font-size: 1.5rem;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  margin-top: 1rem;
}

.projects-desc {
  color: rgb(156, 148, 155);
  font-family: "Roboto Mono", monospace;
  margin-bottom: 1rem;
}

.btn-projects {
  border: none;
  border-radius: 5%;
  width: 100%;
  height: 20px;
  background-color: rgb(177, 170, 176);
  text-transform: uppercase;
  font-family: "Roboto Mono", monospace;
}

.btn-projects:hover {
  cursor: pointer;
  color: aliceblue;
}

@media screen and (max-width: 768px) {
  .image {
    width: 250px;
    height: 200px;
    border-radius: 10px;
  }

  .image-container {
    display: flex;
    justify-content: center;
  }

  .project-left {
    font-size: 2.5rem;
  }

  .project-right {
    font-size: 2.5rem;
  }

  .projects-info {
    margin-top: 0;
  }
}
